<!DOCTYPE html>
<html lang="es">
  {{>Head}}
  <body>
    {{>Nav}}
    <div class="hero-section pt-5">
    <div class="row m-auto container pt-5">
      <div class="col-sm-6 pt-5">
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-skater">
            <th scope="row">1</th>
            <td><div></div></td>
            <td>Tony Hawk</td>
            <td>12</td>
            <td>Kickflip</td>
            <td class="text-success font-weight-bold">Aprobado</td>
          </tr>
          <tr class="tr-skater">
            <th scope="row">2</th>
            <td><div></div></td>
            <td>Evelien Bouilliart</td>
            <td>10</td>
            <td>Heelflip</td>
            <td class="text-success font-weight-bold">Aprobado</td>
          </tr>
          <tr class="tr-skater">
            <th scope="row">3</th>
            <td><div></div></td>
            <td>Danny Way</td>
            <td>8</td>
            <td>Ollie</td>
            <td class="text-warning font-weight-bold">En revisión</td>
          </tr>
          {{#each skaters}}
            <tr>
            <th scope="row">{{inc @index}}</th>
            <td><div style="background-image: url('/assets/img/{{this.foto}}');"></div></td>
            <td>{{this.nombre}}</td>
            <td>{{this.anos_experiencia}}</td>
            <td>{{this.especialidad}}</td>
            <td {{#if this.estado}} class="text-success font-weight-bold" {{else}}class="text-warning font-weight-bold" {{/if}}>{{#if this.estado}} Aprobado {{else}}En revisión {{/if}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
    </div>
    {{>Footer}}
    {{>CdnBody}}
  </body>
</html>
